.schedule {
    width: 100%;
    height: 100%;
}

.scheduleBody {
    height: 100%;
    margin: 0 auto;
}

#productScrollTop {
    width: 7%;
    display: block;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 99999;
    transition: all .1s ease-in-out;
}

#productScrollTop:hover {
    transform: scale(1.3)
}

@media only screen and (max-width: 600px) {

    .scheduleTitle {
        font-size: 2.5rem;
    }
}
