.about {
    width: 100%;
    height: 100%;
   
}

.aboutBody {
    background-color: white;
    height: 100%;
    margin-top: 0 auto;
    /* background-image: url(../images/canvas.jpg); */
}

.aboutContent {
    margin-top: 2.5rem;
    font-size: 1.5rem;
}
/* 
.aboutTitle {
    text-align: center;
    font-family: 'Special Elite', cursive;
} */

#inlineIco {
    width: 2vw; 
    margin: 0 1vh;
}

#hotmessLogo {
    width: 30rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {

    #hotmessLogo {
        width: 100%;
    }

    .aboutContent {
        text-align: justify;
        font-size: 1rem;
    }

}

