.aboutBody {
    background-color: white;
    height: 100%;
    margin-top: 5vh auto;
    /* background-image: url(../images/canvas.jpg); */
}

.aboutContent {
    /* margin-top: 2.5rem; */
    font-size: 1.25rem;
}

#inlineIco {
    width: 1.5rem; 
    margin: 0 0.5vw;
}

#aboutHotmessLogo {
    width: 25rem;
    margin-bottom: 1rem;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {

    #aboutHotmessLogo  {
        display: none;
        width: 100%;
    };

    #inlineIco {
        width: 0.5rem;
    };

    .aboutContent {
        font-size: .75rem;
    };
}

