.contact {
    width: 100%;
    height: 100%;
}

#socialMedia {
    margin-top: 1.5vh;
    position: relative;
    bottom: 0;
}

#instagram, #email, #facebook, #homepage {
    width: 6vh;
    transition: 0.1s all ease-in;
    margin-right: 1.5vh;
}

#instagram:hover, #email:hover, #facebook:hover, #homepage:hover {
    transform: scale(1.2);
}

#contactH4 {
    font-size: 3vh;
}

#burge {
    width: 11rem;
}

#sprig {
    width: 15rem;
}

#ahmIG {
    position: relative;
    bottom: 0;
}

@media only screen and (max-width: 600px) {

    .contactTitle {
        font-size: 3rem;
    }
}
