.productImg {
    width: 15rem;
}

.card-title {
    font-weight: bold;
    font-family: 'Special Elite', cursive;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 0 0 0 rgba(0, 0, 0, 0);
    border: none;
    /* backface-visibility: hidden; */
}

#productNavi {
    margin-bottom: 2vh;
    font-family: 'Special Elite', cursive;
    font-size: 100%;
    color: white;
}

#cardButtons {
    margin: 0 2vw;
    transition: all 2 ease;
}

.toggleOn {
    border: none;
    background: #6E6E6E;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.toggleOff {
    border: none;
    background: rgba(12, 122, 2, 0.397);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

#outerPic {
    width: 20rem;
 
}
#cardButtons:hover {
    transform: scale(1.1)
}

#innerPic {
    width: 5rem;
}

#innerPic2 {
    width: 6.25rem;
}
/* 
#mobileProductButton {
    display: none;
} */

@media only screen and (max-width: 600px) {

    /* #mobileProductButton {
        display: contents;

    } */
    .card-img-overlay {
        padding: 0 0;
    }
    #innerPic {
        width: 3rem;
    }
    
    #innerPic2 {
        width: 3.5rem;
    }
    #innerPic, #innerPic2 {
        margin: 0 2vw;
    }

    #outerPic {
        width: 5rem;
        height: 5rem;
    }
/* 
    #cardButtons {
        display: none;
    } */
}

