.productImg {
    width: 15rem;
}

.card-title {
    font-weight: bold;
    font-family: 'Special Elite', cursive;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 0 0 0 rgba(0, 0, 0, 0);
    border: none;
    /* backface-visibility: hidden; */
}

#productNavi {
    margin-bottom: 2vh;
    font-family: 'Special Elite', cursive;
    font-size: 100%;
    color: white;
}

.toggleOn {
    border: none;
    background: #6E6E6E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toggleOff {
    border: none;
    background: rgba(12, 122, 2, 0.397);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}