#eventImg {
    width: 100%;
    height: 100%;
}

#directionIcon {
    width: 10vh;
    margin-right: 0.5vw;
    transition: 0.1s all ease-in
}

#directionIcon:hover {
    transform: scale(1.2)
}

.bgCard {
    background: #47ffcc;
}